fastapi
uvicorn
pydantic
python-dotenv
google-api-python-client
aiohttp
pandas
discord.py
openai
google-auth-httplib2
google-auth-oauthlib
Jinja2==3.1.3
pydantic-settings==2.2.1
apscheduler==3.10.4 